In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.shape

(13320, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [8]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [10]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [11]:
df['location'] = df['location'].fillna('Whitefield')

In [12]:
df['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [13]:
df['size'] = df['size'].fillna('2 BHK')

In [14]:
df['bath'].value_counts()

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

In [15]:
df['bath'] = df['bath'].fillna(np.mean(df['bath']))

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [17]:
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [18]:
df['bhk']

0        2
1        4
2        3
3        3
4        2
        ..
13315    5
13316    4
13317    2
13318    4
13319    1
Name: bhk, Length: 13320, dtype: int32

In [19]:
df=df[df['bhk']<20]

In [20]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [21]:
def convertRange(x): 
    temp =x.split('-')
    if len(temp)==2: 
        return (float(temp[0]) + float(temp[1]))/2 
    try: 
        return float(x)
    except: 
        return None

In [22]:
df.isnull().values.any()

False

In [23]:
df['total_sqft'] = df['total_sqft'].apply(convertRange)

In [24]:
df.drop(columns=['size'],inplace=True)

In [25]:
df.head()

                   location  total_sqft  bath   price  bhk
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

# Price Per Square feet

In [26]:
df['price_per_sqft'] = df['price']*100000 / df['total_sqft']

In [27]:
df

                       location  total_sqft  bath   price  bhk  price_per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
...                         ...         ...   ...     ...  ...             ...
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13316             Richards Town      3600.0   5.0  400.00    4    11111.111111
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13318           Padmanabhanagar      4689.0   4.0  488.00    4    10407.336319
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[13318 rows x 6 columns]

In [28]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13272.000000  13318.000000  13318.000000  13318.000000    1.327200e+04
mean    1559.078114      2.687983    112.515704      2.797943    7.906404e+03
std     1237.214493      1.281019    148.903830      1.229083    1.064375e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.267260e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311582e+03
max    52272.000000     18.000000   3600.000000     19.000000    1.200000e+07

In [29]:
df['location'].value_counts()

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       302
Kanakpura Road                        273
Thanisandra                           234
                                     ...
 Whitefield                             1
Kengeri Satellite Town ( BDA SITE)      1
Indiranagar HAL 2nd Stage               1
K R C kothanur                          1
Abshot Layout                           1
Name: count, Length: 1304, dtype: int64

In [30]:
# replcae the other of them which counts less than 10 in location data

df['location']= df['location'].apply(lambda x: x.strip())
location_count = df['location'].value_counts()

location_count_less_than_10 = location_count[location_count<=10]

In [31]:
df['location'] = df['location'].apply(lambda x: 'other' if x in location_count_less_than_10 else x)

# Outeliers Detection and removal

In [32]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13272.000000  13318.000000  13318.000000  13318.000000    1.327200e+04
mean    1559.078114      2.687983    112.515704      2.797943    7.906404e+03
std     1237.214493      1.281019    148.903830      1.229083    1.064375e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.267260e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311582e+03
max    52272.000000     18.000000   3600.000000     19.000000    1.200000e+07

In [33]:
(df['total_sqft']/df['bhk']).describe()

count    13272.000000
mean       575.135008
std        388.200711
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [34]:
df = df[(df['total_sqft']/df['bhk'])>=300]

In [35]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.563572    111.382401      2.650838     6303.979357
std     1261.271296      1.077132    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [36]:
df.shape

(12530, 6)

In [37]:
def remove_pps_outliers(df):
    df_out=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reduced_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df=remove_pps_outliers(df)
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.475467     91.286372      2.574896     5659.062876
std      880.694214      0.978960     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [38]:
def remove_bhk_outliers(df):
    exclude_indices=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df=remove_bhk_outliers(df)
df.shape

(7361, 6)

In [39]:
df.reset_index()

      index             location  total_sqft  bath  price  bhk  price_per_sqft
0         0  1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1         1  1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2         2  1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3         3  1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4         4  1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668
...     ...                  ...         ...   ...    ...  ...             ...
7356  10292                other      1200.0   2.0   70.0    2     5833.333333
7357  10293                other      1800.0   1.0  200.0    1    11111.111111
7358  10296                other      1353.0   2.0  110.0    2     8130.081301
7359  10297                other       812.0   1.0   26.0    1     3201.970443
7360  10300                other      3600.0   5.0  400.0    4    11111.111111

[7361 rows x 7 columns]

In [40]:
df.drop(columns=['price_per_sqft'],inplace=True)

In [41]:
df.to_csv('cleaned.csv')

In [42]:
X = df.drop(columns=['price'])
y = df['price']

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [45]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [46]:
from sklearn.compose import make_column_transformer

In [47]:
from sklearn.pipeline import make_pipeline

In [48]:
from sklearn.metrics import r2_score

In [49]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

# Applying linear regression

In [50]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [51]:
scalar = StandardScaler()

In [52]:
lr = LinearRegression()

In [53]:
pipe = make_pipeline(column_trans,scalar,lr)

In [54]:
pipe.fit(X_train,y_train)

C:\Users\Dell\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [56]:
y_pred_lr = pipe.predict(X_test)

In [57]:
r2_score(y_test,y_pred_lr)

0.825150230720296

# Applying Lasso

In [57]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [58]:
scalar = StandardScaler()

In [59]:
lasso = Lasso()

In [60]:
pipe = make_pipeline(column_trans,scalar,lasso)

In [61]:
pipe.fit(X_train,y_train)

C:\Users\Dell\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [62]:
y_pred_lasso = pipe.predict(X_test)

In [63]:
r2_score(y_test,y_pred_lasso)

0.814653269726018

# Applying Ridge

In [64]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [65]:
scalar = StandardScaler()

In [66]:
ridge = Ridge()

In [67]:
pipe = make_pipeline(column_trans,scalar,ridge)

In [68]:
pipe.fit(X_train,y_train)

C:\Users\Dell\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [69]:
y_pred_ridge = pipe.predict(X_test)

In [70]:
r2_score(y_test,y_pred_ridge)

0.8251555115244446

In [58]:
import pickle

In [59]:
pickle.dump(pipe,open('model.pkl','wb'))

In [60]:
X_test

                 location  total_sqft  bath  bhk
3865             Kadugodi      1150.0   2.0    2
6504         Sonnenahalli      1268.0   2.0    2
6417  Sector 7 HSR Layout      1162.0   2.0    2
3849             Kadugodi      1314.0   2.0    2
8615                other      1340.0   3.0    3
...                   ...         ...   ...  ...
9552                other      1080.0   2.0    2
1036           Begur Road      1200.0   2.0    2
5065         Marathahalli      1680.0   3.0    3
8457                other      1200.0   3.0    3
6738          Thanisandra      1702.0   3.0    3

[1473 rows x 4 columns]

In [61]:
print(round(pipe.predict(pd.DataFrame(np.array(['other', 1500.0, 3.0, 3]).reshape(1, 4),columns=['location', 'total_sqft', 'bath', 'bhk']))[0]*100000,2),"Rs")

12355137.85 Rs

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7361 entries, 0 to 10300
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7361 non-null   object
 1   total_sqft  7361 non-null   float64
 2   bath        7361 non-null   float64
 3   price       7361 non-null   float64
 4   bhk         7361 non-null   int32
dtypes: float64(3), int32(1), object(1)
memory usage: 316.3+ KB